.body{
  overflow-y: scroll;
  background-color: #1A1A1D;
}

#particles {
  background-color: #1A1A1D;
}

#page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title {
  font-size: 3rem;
  color: #C3073F;
}

.navbar{
  background-color: #4E4E50;
}

.caseyRock-pic{
  width:auto;
  height:25rem;
  border-radius: 1rem;
}


.info-text{
  font-size: 1rem;
  color: #dfdfdf;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 70%;
  padding: 3%;
  background-color: #4e4e50fa;
}


.title {
  font-size: 4rem;
  color: #C3073F;
}

