#particles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% 50%;
  background-color: #1A1A1D;
}

.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: #4E4E50;
}

.caseyRock-pic{
  width:auto;
  height:50%;
  border-radius: 1rem;
}


#title {
  font-size: 6rem;
  color: #C3073F;
}

