body{
    height: 100%;
    width: 100%;
    background: url('../assets/DataBlueAndYellow.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#AboutMeBody{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#index{
    padding:5%
}

.casey-rock-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d2731d2 !important;
    height:40%;
    width:40%;
    margin: auto;
    padding: 2%;
    border-radius: 2%;
}

.about{
    width:70%;
}


.title{
    text-align: center;
    display: inline-block;
    border-bottom: .1em #d9b310 solid;
    font-size: 2.5em;
    color: #eeeeee;
    margin: 0 auto;
}


.info-text{
    padding: 5%;
    font-size: 2em;
    color: #eeeeee;
    margin: auto;
}

.caseyRock-pic{
    margin: auto;
    height: 40%;
    width: 40%;
    border-radius: 5%;
    padding: 5%;
}


.prev{
    float: left;
}

.next{
    float: right;
}